// Variables
$primary-color: #14438F;
$secundary-color: #2780C2;
$background-color: #eee;
$font-family: 'Open Sans', Arial, sans-serif;

.page{

    background-color: $background-color;

    .headerpage{
        background-color: $secundary-color;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        font-family: $font-family;
        font-size: 18px;
    
        div{
            width: 50%;
        }
    }
    
    .container {
        max-width: 1000px;
        margin: auto;
        background-color: $background-color;

        .subsection{
            background-color: #DDD;

            .email-container{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .btn{
                background-color: $secundary-color;
                padding: 5px 40px 5px 40px;
                color: white;
            }
            .btn:hover{
                background-color: $primary-color;
            }

            .password-group{
                display: flex;
                flex-direction: row;
            }

            span{
                color: #a00000;
            }
        }
      }
      
      .btn{
        background-color: $secundary-color;
        padding: 5px 40px 5px 40px;
        color: white;
    }
    .btn:hover{
        background-color: $primary-color;
    }
      
      .alert {
        font-size: 0.9rem;
      }
}