/* You can add global styles to this file, and also import other style files */
// Variables
$primary-color: #14438F;
$secundary-color: #2780C2;
$background-color: #eee;
$font-family: 'Open Sans', Arial, sans-serif;